conda-forge/win-64::ca-certificates-2021.10.8-h5b45459_0
conda-forge/win-64::certifi-2021.10.8-py39hcbf5309_0
conda-forge/win-64::cffi-1.14.6-py39h0878f49_1
conda-forge/win-64::chardet-4.0.0-py39hcbf5309_1
conda-forge/noarch::colorama-0.4.4-pyh9f0ad1d_0
conda-forge/win-64::cryptography-3.4.7-py39hd8d06c1_0
conda-forge/noarch::idna-2.10-pyh9f0ad1d_0
conda-forge/win-64::intel-openmp-2021.3.0-h57928b3_3372
conda-forge/win-64::kaggle-1.5.12-py39hcbf5309_0
conda-forge/win-64::libblas-3.9.0-11_win64_mkl
conda-forge/win-64::libcblas-3.9.0-11_win64_mkl
conda-forge/win-64::liblapack-3.9.0-11_win64_mkl
conda-forge/win-64::mkl-2021.3.0-hb70f87d_564
conda-forge/win-64::numpy-1.21.2-py39h6635163_0
conda-forge/win-64::openssl-1.1.1l-h8ffe710_0
conda-forge/win-64::pandas-1.3.3-py39h2e25243_0
conda-forge/noarch::pip-21.2.4-pyhd8ed1ab_0
conda-forge/noarch::pycparser-2.20-pyh9f0ad1d_2
conda-forge/noarch::pyopenssl-21.0.0-pyhd8ed1ab_0
conda-forge/win-64::pysocks-1.7.1-py39hcbf5309_3
conda-forge/win-64::python-3.9.7-h7840368_3_cpython
conda-forge/noarch::python-dateutil-2.8.2-pyhd8ed1ab_0
conda-forge/noarch::python-slugify-5.0.2-pyhd8ed1ab_0
conda-forge/win-64::python_abi-3.9-2_cp39
conda-forge/noarch::pytz-2021.3-pyhd8ed1ab_0
conda-forge/noarch::requests-2.25.1-pyhd3deb0d_0
conda-forge/win-64::setuptools-58.2.0-py39hcbf5309_0
conda-forge/noarch::six-1.16.0-pyh6c4a22f_0
conda-forge/win-64::sqlite-3.36.0-h8ffe710_2
conda-forge/win-64::tbb-2021.3.0-h2d74725_0
conda-forge/noarch::text-unidecode-1.3-py_0
conda-forge/noarch::tqdm-4.62.3-pyhd8ed1ab_0
conda-forge/noarch::tzdata-2021c-he74cb21_0
conda-forge/win-64::ucrt-10.0.20348.0-h57928b3_0
conda-forge/noarch::unidecode-1.3.2-pyhd8ed1ab_0
conda-forge/noarch::urllib3-1.24.3-py_1
conda-forge/win-64::vc-14.2-hb210afc_5
conda-forge/win-64::vs2015_runtime-14.29.30037-h902a5da_5
conda-forge/noarch::wheel-0.37.0-pyhd8ed1ab_1
conda-forge/win-64::win_inet_pton-1.1.0-py39hcbf5309_2
